body {
    background-color: aqua;
}

h1 {
    color: orange;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    background-color: #ff0;
    margin: 0.2em;
    padding: 1em;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: red;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}